<main class="container">
  <app-slider></app-slider>

  <div class="tabs">
    <button [class.on]="(tab$ | async) === 'filter'" (click)="setTab('filter')">Filter</button>
    <button [class.on]="(tab$ | async) === 'most'"   (click)="setTab('most')">The Most Sells</button>
    <button [class.on]="(tab$ | async) === 'fav'"    (click)="setTab('fav')">Favorite</button>
  </div>

  <ng-container *ngIf="(loading$ | async); else contentTpl">
    <section class="grid">
      <div class="skeleton" *ngFor="let _ of skeletons"></div>
    </section>
  </ng-container>

  <ng-template #contentTpl>
    <div class="state err" *ngIf="(error$ | async) as err" [hidden]="!err">{{ err }}</div>

    <section class="grid" *ngIf="(viewProducts$ | async) as products">
      <div class="state" *ngIf="!products.length">No products yet.</div>

      <a
        class="card-link"
        *ngFor="let p of products; trackBy: trackById"
        [routerLink]="['/product', p.id]"
        aria-label="View {{ p.name }}"
      >
        <app-product-card [product]="p"></app-product-card>
      </a>
    </section>
  </ng-template>
</main>
